
.servicio{
    border: 1px solid gray;
    border-radius: .7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.servicio .info{
    width: 75%;
}

.servicio .info h4{
    color: #f50622;
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #f50622;
    padding-bottom: .5em;
}

.servicio .info p{
    font-size: .8em;
    line-height: 1.2em;
}

.servicio img{
    border-radius: .8em;
    box-shadow: 6px 4px 86px 9px rgba(232,218,218,0.75);
}

.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.servicio:nth-child(odd) .info{
    float: right;
}
