body{
  
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  
  color: #fff;
}

.holder{
  width: 960px;
  margin: 0 auto;
}


h2{
  color: #7fa7d4;
  font-weight: 400;
  margin: 0 0 1em;
  padding-top: 10px;
}

.left{
  float: left;
}

.right{
  float: right;
}

